<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <a class="skip-link" href="#main">{{ i18n "skipToContent" }}</a>
  {{ partial "header.html" . }}
  <main id="main" data-pagefind-body>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ partial "search.html" . }}
  {{ with resources.Get "js/main.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" defer></script>
  {{ end }}
  {{ with resources.Get "js/search.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" defer></script>
  {{ end }}
  {{ with resources.Get "js/motion.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" defer></script>
  {{ end }}
  {{ block "scripts" . }}{{ end }}
</body>
</html>
